:root {
    --yellow-color: #FEC600;
    --white-color: #ffffff;
    --black-color: #262626;
    --darkgray-color: #343434;
    --blue-color: #5995ED;
    --gray-color: #696969;
    --lightgray-color:#f4f4f4;
    --sand-color:#fffcee;
}
